<a href="https://colab.research.google.com/github/raqssoriano/module1-codexes-claims-analysis/blob/main/analyis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
# 1) Load data:

df = pd.read_csv('https://data.cms.gov/sites/default/files/2023-04/67157de9-d962-4af0-bf0e-3578b3afec58/inpatient.csv', sep='|')

<ipython-input-3-8adf117957d6>:3: DtypeWarning: Columns (168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://data.cms.gov/sites/default/files/2023-04/67157de9-d962-4af0-bf0e-3578b3afec58/inpatient.csv', sep='|')

In [15]:
# Display first few rows of dataset:

print(df.head())

          BENE_ID          CLM_ID NCH_NEAR_LINE_REC_IDENT_CD  NCH_CLM_TYPE_CD  \
0 -10000010254618 -10000930037831                          V               60
1 -10000010254653 -10000930038030                          V               60
2 -10000010254653 -10000930038031                          V               60
3 -10000010254656 -10000930038162                          V               60
4 -10000010254656 -10000930038162                          V               60

   CLM_FROM_DT  CLM_THRU_DT NCH_WKLY_PROC_DT  FI_CLM_PROC_DT  \
0  25-Mar-2015  25-Mar-2015      27-Mar-2015             NaN
1  24-Sep-2015  24-Sep-2015      25-Sep-2015             NaN
2  09-May-2017  10-May-2017      12-May-2017             NaN
3  14-Jan-2017  14-Jan-2017      20-Jan-2017             NaN
4  14-Jan-2017  14-Jan-2017      20-Jan-2017             NaN

   CLAIM_QUERY_CODE PRVDR_NUM  ...  PRCDR_DT24  ICD_PRCDR_CD25  PRCDR_DT25  \
0                 3    011500  ...         NaN             NaN         NaN
1                 3    017129  ...         NaN             NaN         NaN
2                 3    010052  ...         NaN             NaN         NaN
3                 3    015455  ...         NaN             NaN         NaN
4                 3    015455  ...         NaN             NaN         NaN

   IME_OP_CLM_VAL_AMT DSH_OP_CLM_VAL_AMT  CLM_UNCOMPD_CARE_PMT_AMT  \
0                   0                  0                       NaN
1                   0                  0                       NaN
2                   0                  0                       NaN
3                   0                  0                       NaN
4                   0                  0                       NaN

   CLM_LINE_NUM REV_CNTR  HCPCS_CD  REV_CNTR_DDCTBL_COINSRNC_CD
0             1      450     99221                          NaN
1             1      450     99221                          NaN
2             1        1     99024                          3.0
3             1      450     73610                          3.0
4             2      450     29515                          3.0

[5 rows x 197 columns]

In [16]:
# Explore dataset:

for x in df.columns:
    print(x)

BENE_ID
CLM_ID
NCH_NEAR_LINE_REC_IDENT_CD
NCH_CLM_TYPE_CD
CLM_FROM_DT
CLM_THRU_DT
NCH_WKLY_PROC_DT
FI_CLM_PROC_DT
CLAIM_QUERY_CODE
PRVDR_NUM
CLM_FAC_TYPE_CD
CLM_SRVC_CLSFCTN_TYPE_CD
CLM_FREQ_CD
FI_NUM
CLM_MDCR_NON_PMT_RSN_CD
CLM_PMT_AMT
NCH_PRMRY_PYR_CLM_PD_AMT
NCH_PRMRY_PYR_CD
FI_CLM_ACTN_CD
PRVDR_STATE_CD
ORG_NPI_NUM
AT_PHYSN_UPIN
AT_PHYSN_NPI
OP_PHYSN_UPIN
OP_PHYSN_NPI
OT_PHYSN_UPIN
OT_PHYSN_NPI
CLM_MCO_PD_SW
PTNT_DSCHRG_STUS_CD
CLM_PPS_IND_CD
CLM_TOT_CHRG_AMT
CLM_ADMSN_DT
CLM_IP_ADMSN_TYPE_CD
CLM_SRC_IP_ADMSN_CD
NCH_PTNT_STATUS_IND_CD
CLM_PASS_THRU_PER_DIEM_AMT
NCH_BENE_IP_DDCTBL_AMT
NCH_BENE_PTA_COINSRNC_LBLTY_AM
NCH_BENE_BLOOD_DDCTBL_LBLTY_AM
NCH_PROFNL_CMPNT_CHRG_AMT
NCH_IP_NCVRD_CHRG_AMT
NCH_IP_TOT_DDCTN_AMT
CLM_TOT_PPS_CPTL_AMT
CLM_PPS_CPTL_FSP_AMT
CLM_PPS_CPTL_OUTLIER_AMT
CLM_PPS_CPTL_DSPRPRTNT_SHR_AMT
CLM_PPS_CPTL_IME_AMT
CLM_PPS_CPTL_EXCPTN_AMT
CLM_PPS_OLD_CPTL_HLD_HRMLS_AMT
CLM_PPS_CPTL_DRG_WT_NUM
CLM_UTLZTN_DAY_CNT
BENE_TOT_COINSRNC_DAYS_CNT
BENE_LRD_USED_CNT
CLM_NON_UTLZTN_DAYS_CNT
NCH_BLOOD_PNTS_FRNSHD_QTY
NCH_VRFD_NCVRD_STAY_FROM_DT
NCH_VRFD_NCVRD_STAY_THRU_DT
NCH_ACTV_OR_CVRD_LVL_CARE_THRU
NCH_BENE_MDCR_BNFTS_EXHTD_DT_I
NCH_BENE_DSCHRG_DT
CLM_DRG_CD
CLM_DRG_OUTLIER_STAY_CD
NCH_DRG_OUTLIER_APRVD_PMT_AMT
ADMTG_DGNS_CD
PRNCPAL_DGNS_CD
ICD_DGNS_CD1
CLM_POA_IND_SW1
ICD_DGNS_CD2
CLM_POA_IND_SW2
ICD_DGNS_CD3
CLM_POA_IND_SW3
ICD_DGNS_CD4
CLM_POA_IND_SW4
ICD_DGNS_CD5
CLM_POA_IND_SW5
ICD_DGNS_CD6
CLM_POA_IND_SW6
ICD_DGNS_CD7
CLM_POA_IND_SW7
ICD_DGNS_CD8
CLM_POA_IND_SW8
ICD_DGNS_CD9
CLM_POA_IND_SW9
ICD_DGNS_CD10
CLM_POA_IND_SW10
ICD_DGNS_CD11
CLM_POA_IND_SW11
ICD_DGNS_CD12
CLM_POA_IND_SW12
ICD_DGNS_CD13
CLM_POA_IND_SW13
ICD_DGNS_CD14
CLM_POA_IND_SW14
ICD_DGNS_CD15
CLM_POA_IND_SW15
ICD_DGNS_CD16
CLM_POA_IND_SW16
ICD_DGNS_CD17
CLM_POA_IND_SW17
ICD_DGNS_CD18
CLM_POA_IND_SW18
ICD_DGNS_CD19
CLM_POA_IND_SW19
ICD_DGNS_CD20
CLM_POA_IND_SW20
ICD_DGNS_CD21
CLM_POA_IND_SW21
ICD_DGNS_CD22
CLM_POA_IND_SW22
ICD_DGNS_CD23
CLM_POA_IND_SW23
ICD_DGNS_CD24
CLM_POA_IND_SW24
ICD_DGNS_CD25
CLM_POA_IND_SW25
FST_DGNS_E_CD
ICD_DGNS_E_CD1
CLM_E_POA_IND_SW1
ICD_DGNS_E_CD2
CLM_E_POA_IND_SW2
ICD_DGNS_E_CD3
CLM_E_POA_IND_SW3
ICD_DGNS_E_CD4
CLM_E_POA_IND_SW4
ICD_DGNS_E_CD5
CLM_E_POA_IND_SW5
ICD_DGNS_E_CD6
CLM_E_POA_IND_SW6
ICD_DGNS_E_CD7
CLM_E_POA_IND_SW7
ICD_DGNS_E_CD8
CLM_E_POA_IND_SW8
ICD_DGNS_E_CD9
CLM_E_POA_IND_SW9
ICD_DGNS_E_CD10
CLM_E_POA_IND_SW10
ICD_DGNS_E_CD11
CLM_E_POA_IND_SW11
ICD_DGNS_E_CD12
CLM_E_POA_IND_SW12
ICD_PRCDR_CD1
PRCDR_DT1
ICD_PRCDR_CD2
PRCDR_DT2
ICD_PRCDR_CD3
PRCDR_DT3
ICD_PRCDR_CD4
PRCDR_DT4
ICD_PRCDR_CD5
PRCDR_DT5
ICD_PRCDR_CD6
PRCDR_DT6
ICD_PRCDR_CD7
PRCDR_DT7
ICD_PRCDR_CD8
PRCDR_DT8
ICD_PRCDR_CD9
PRCDR_DT9
ICD_PRCDR_CD10
PRCDR_DT10
ICD_PRCDR_CD11
PRCDR_DT11
ICD_PRCDR_CD12
PRCDR_DT12
ICD_PRCDR_CD13
PRCDR_DT13
ICD_PRCDR_CD14
PRCDR_DT14
ICD_PRCDR_CD15
PRCDR_DT15
ICD_PRCDR_CD16
PRCDR_DT16
ICD_PRCDR_CD17
PRCDR_DT17
ICD_PRCDR_CD18
PRCDR_DT18
ICD_PRCDR_CD19
PRCDR_DT19
ICD_PRCDR_CD20
PRCDR_DT20
ICD_PRCDR_CD21
PRCDR_DT21
ICD_PRCDR_CD22
PRCDR_DT22
ICD_PRCDR_CD23
PRCDR_DT23
ICD_PRCDR_CD24
PRCDR_DT24
ICD_PRCDR_CD25
PRCDR_DT25
IME_OP_CLM_VAL_AMT
DSH_OP_CLM_VAL_AMT
CLM_UNCOMPD_CARE_PMT_AMT
CLM_LINE_NUM
REV_CNTR
HCPCS_CD
REV_CNTR_DDCTBL_COINSRNC_CD

In [23]:
# 2) Identify medical codexes columns:
# ICD codes

icd_codes = [x for x in df.columns if 'ICD' in x]
print(icd_codes)

['ICD_DGNS_CD1', 'ICD_DGNS_CD2', 'ICD_DGNS_CD3', 'ICD_DGNS_CD4', 'ICD_DGNS_CD5', 'ICD_DGNS_CD6', 'ICD_DGNS_CD7', 'ICD_DGNS_CD8', 'ICD_DGNS_CD9', 'ICD_DGNS_CD10', 'ICD_DGNS_CD11', 'ICD_DGNS_CD12', 'ICD_DGNS_CD13', 'ICD_DGNS_CD14', 'ICD_DGNS_CD15', 'ICD_DGNS_CD16', 'ICD_DGNS_CD17', 'ICD_DGNS_CD18', 'ICD_DGNS_CD19', 'ICD_DGNS_CD20', 'ICD_DGNS_CD21', 'ICD_DGNS_CD22', 'ICD_DGNS_CD23', 'ICD_DGNS_CD24', 'ICD_DGNS_CD25', 'ICD_DGNS_E_CD1', 'ICD_DGNS_E_CD2', 'ICD_DGNS_E_CD3', 'ICD_DGNS_E_CD4', 'ICD_DGNS_E_CD5', 'ICD_DGNS_E_CD6', 'ICD_DGNS_E_CD7', 'ICD_DGNS_E_CD8', 'ICD_DGNS_E_CD9', 'ICD_DGNS_E_CD10', 'ICD_DGNS_E_CD11', 'ICD_DGNS_E_CD12', 'ICD_PRCDR_CD1', 'ICD_PRCDR_CD2', 'ICD_PRCDR_CD3', 'ICD_PRCDR_CD4', 'ICD_PRCDR_CD5', 'ICD_PRCDR_CD6', 'ICD_PRCDR_CD7', 'ICD_PRCDR_CD8', 'ICD_PRCDR_CD9', 'ICD_PRCDR_CD10', 'ICD_PRCDR_CD11', 'ICD_PRCDR_CD12', 'ICD_PRCDR_CD13', 'ICD_PRCDR_CD14', 'ICD_PRCDR_CD15', 'ICD_PRCDR_CD16', 'ICD_PRCDR_CD17', 'ICD_PRCDR_CD18', 'ICD_PRCDR_CD19', 'ICD_PRCDR_CD20', 'ICD_PRCDR_CD21', 'ICD_PRCDR_CD22', 'ICD_PRCDR_CD23', 'ICD_PRCDR_CD24', 'ICD_PRCDR_CD25']

In [24]:

# DRG codes

drg_codes = [x for x in df.columns if 'DRG' in x]
print(drg_codes)

['CLM_PPS_CPTL_DRG_WT_NUM', 'CLM_DRG_CD', 'CLM_DRG_OUTLIER_STAY_CD', 'NCH_DRG_OUTLIER_APRVD_PMT_AMT']

In [93]:
drg_frequency = df[drg_codes].value_counts()

In [25]:

# HCPCS codes

hcpcs_codes= [x for x in df.columns if 'HCPCS' in x]
print(hcpcs_codes)

['HCPCS_CD']

In [38]:

# 3) Frequency of each unique value:
# ICD Code Frequency using ICD_DGNS_CD

df['ICD_DGNS_CD25'].value_counts()

ICD_DGNS_CD25
D649       1372
R7303      1356
E669        682
Z591        526
J329        459
           ...
P7883         1
N978          1
F02ZFYZ       1
E11319        1
T7412X        1
Name: count, Length: 92, dtype: int64

In [92]:
icd_frequency = df[icd_codes].value_counts()

In [39]:

# DRG Codes Frequency

df['CLM_DRG_CD'].value_counts()

CLM_DRG_CD
951.0    28831
950.0     1456
949.0     1332
922.0     1110
923.0     1015
         ...
814.0        1
918.0        1
870.0        1
812.0        1
656.0        1
Name: count, Length: 167, dtype: int64

In [84]:
drg_frequency = df[drg_codes].value_counts()

In [40]:

# HCPCS Code Frequency

df['HCPCS_CD'].value_counts()

HCPCS_CD
99221    8298
G0444    7990
96156    5080
99408    4196
99495    3867
         ...
S9361       1
S9355       1
S9374       1
S9377       1
G9829       1
Name: count, Length: 106, dtype: int64

In [83]:
hcpcs_frequency = df[hcpcs_codes].value_counts()

In [41]:

# Claim Procedure Code Frequency - ICD_PRCDR_CD

df['ICD_PRCDR_CD5'].value_counts()

ICD_PRCDR_CD5
Z1331      16209
F1990       4218
Z9981       2197
F08H5ZZ     2147
Z139        1644
F13         1540
BW03ZZZ     1492
Z715         960
F109         838
Z9181        314
30273R1       24
Z8616         14
07HN33Z       13
F419           8
6A550Z2        6
02RF38H        4
Name: count, dtype: int64

In [45]:


# Claim Diagnosis E Code Present on Admission (POA) Indicator Code Frequency:

df['CLM_E_POA_IND_SW10'].value_counts()

CLM_E_POA_IND_SW10
     58066
Name: count, dtype: int64

In [44]:

# Claim Principal Diagnosis Code Frequency:

df['PRNCPAL_DGNS_CD'].value_counts()

PRNCPAL_DGNS_CD
Z733      11469
Z608       7216
T7432X     3314
Z604       3227
Z7682      3092
          ...
I25700        1
I200          1
E849          1
A4152         1
O00109        1
Name: count, Length: 190, dtype: int64

In [47]:
# Claim Admitting Diagnosis Code Frequency:

df['ADMTG_DGNS_CD'].value_counts()

ADMTG_DGNS_CD
Z7682      2881
T50901A    2541
Z951       1694
Z95818     1058
C3490       940
           ...
E849          1
A4152         1
O00109        1
I200          1
C9200         1
Name: count, Length: 65, dtype: int64

In [52]:

# First Claim Diagnosis E Code Frequency

df['FST_DGNS_E_CD'].value_counts()

FST_DGNS_E_CD
W86    10445
X58     7202
W19     4899
Y92     3291
Y83     2488
       ...
V28        1
V78        1
X93        1
X80        1
X72        1
Name: count, Length: 137, dtype: int64

In [73]:


# 4) Missing data (if any)
### Missing data for ICD Codes and how to handle them:

missing_icd_codes = df[icd_codes].isnull().sum()
print(f"Missing ICD Codes: {missing_icd_codes}")

Missing ICD Codes: ICD_DGNS_CD1          0
ICD_DGNS_CD2         57
ICD_DGNS_CD3        268
ICD_DGNS_CD4          0
ICD_DGNS_CD5       1099
                  ...
ICD_PRCDR_CD21        0
ICD_PRCDR_CD22    57819
ICD_PRCDR_CD23    57865
ICD_PRCDR_CD24    57935
ICD_PRCDR_CD25    57984
Length: 62, dtype: int64

In [74]:
# Filling with placeholder for the missing ICD_Codes data:

df['ICD_PRCDR_CD21'].fillna('Missing', inplace=True)
df['ICD_DGNS_CD4'].fillna('Missing', inplace=True)

In [75]:

### Missing data for DRG Codes and how to handle them:

missing_drg_codes = df[drg_codes].isnull().sum()
print(f"Missing DRG Codes: {missing_drg_codes}")

Missing DRG Codes: CLM_PPS_CPTL_DRG_WT_NUM             0
CLM_DRG_CD                       3262
CLM_DRG_OUTLIER_STAY_CD             0
NCH_DRG_OUTLIER_APRVD_PMT_AMT       0
dtype: int64

In [76]:
# Filling with placeholder for the missing DRG codes:

df['CLM_DRG_OUTLIER_STAY_CD'].fillna('Missing', inplace=True)
df['NCH_DRG_OUTLIER_APRVD_PMT_AMT'].fillna('Missing', inplace=True)

In [77]:


### Missing data for HCPCS Codes and how to handle them:

missing_hcpcs_codes = df[hcpcs_codes].isnull().sum()
print(f"Missing HCPCS Codes: {missing_hcpcs_codes}")

Missing HCPCS Codes: HCPCS_CD    0
dtype: int64

In [78]:

# Filling with placeholder for the missing HCPCS codes:

df['HCPCS_CD'].fillna('Missing', inplace=True)

In [94]:

# 5) Summary of the Most Common Codes:

print("Top 5 Most Common ICD Codes:\n", icd_frequency.head())
print("\nTop 5 Most Common DRG Codes:\n", drg_frequency.head())
print("\nTop 5 Most Common HCPCS Codes:\n", hcpcs_frequency.head())

Top 5 Most Common ICD Codes:
 Series([], Name: count, dtype: int64)

Top 5 Most Common DRG Codes:
 CLM_PPS_CPTL_DRG_WT_NUM  CLM_DRG_CD  CLM_DRG_OUTLIER_STAY_CD  NCH_DRG_OUTLIER_APRVD_PMT_AMT
0                        951.0       0                        0                                28159
                         950.0       0                        0                                 1438
                         949.0       0                        0                                 1332
                         922.0       0                        0                                 1110
                         923.0       0                        0                                 1015
Name: count, dtype: int64

Top 5 Most Common HCPCS Codes:
 HCPCS_CD
99221       8298
G0444       7990
96156       5080
99408       4196
99495       3867
Name: count, dtype: int64

In [88]:

### Additional Analysis

mentalhealth_screening = df[df['HCPCS_CD'].str.contains('G0444', na=False)]
common_hcpcs_for_psych = mentalhealth_screening['HCPCS_CD'].value_counts()
print("Most Common HCPCS Codes for Patients with HCPCS Code G0444 (Annual Depression):\n", common_hcpcs_for_psych)

Most Common HCPCS Codes for Patients with HCPCS Code G0444 (Annual Depression):
 HCPCS_CD
G0444    7990
Name: count, dtype: int64